@{
    ViewBag.Title = "Home Page";
}

    <div>
        <br />
    </div>

    <div>
        <img src="~/Images/restaurantImage.jpg" alt="Kiwi Restaurant"  class="respond" />
    </div>

<style>
    .respond {   
        width: 100%;
        height: auto;
    }
</style>